.exercice-flex .container-small {
  display: flex;
}

.exercice-flex-2 .container-small {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exercice-align-content-1 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: center;
}

.exercice-align-content-2 .container-small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.exercice-align-content-3 .container-small {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap-reverse;
  align-content: space-between;
}

.exercice-flex-grow-1 .container-small {
  display: flex;
  flex-direction: row;
}

.exercice-flex-grow-1 .element-red {
  flex-grow: 1;
  
}

.exercice-flex-grow-2 .container-small {
  display: flex;
  flex-direction: column;
}

.exercice-flex-grow-2 .element-green {
  flex-grow: 1;
}

/*8. exercice-flex-grow-3 */

/*9. exercice-all-in */
