.exercice-flex .container-small {
  display: flex;
}

.exercice-flex-2 .container-small {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exercice-align-content-1 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: center;
}

/*4. exercice-align-content-2 */

/*5. exercice-align-content-3 */

/*6. exercice-flex-grow-1 */

/*7. exercice-flex-grow-2 */

/*8. exercice-flex-grow-3 */

/*9. exercice-all-in */
