.exercice-flex .container-small {
  display: flex;
}

.exercice-flex-2 .container-small {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exercice-align-content-1 .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: center;
}

.exercice-align-content-2 .container-small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.exercice-align-content-3 .container-small {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap-reverse;
  align-content: space-between;
}

.exercice-flex-grow-1 .container-small {
  display: flex;
  flex-direction: row;
}

.exercice-flex-grow-1 .element-red {
  flex-grow: 1;
  
}

.exercice-flex-grow-2 .container-small {
  display: flex;
  flex-direction: column;
}

.exercice-flex-grow-2 .element-green {
  flex-grow: 1;
}

.exercice-flex-grow-3 .container-small {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.exercice-flex-grow-3 .element-blue {
  flex-grow: 2;
}

.exercice-flex-grow-3 .element-green {
  flex-grow: 1;
}

.exercice-flex-grow-3 .element-red {
  flex-grow: 1;
}

.exercice-all-in .container-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.exercice-all-in .element-green {
  order: 4;
  flex-grow: 1;
}

.exercice-all-in .element-blue {
  order: 3;
  flex-grow: 1;
}

.exercice-all-in .element-red {
  order: 2;
  flex-grow: 1;
}

.exercice-all-in .element-gray {
  order: 1;
  flex-grow: 2;
}

.exercice-all-in .element-yellow {
  order: 0;
  flex-grow: 2;
}

.exercice-all-in .element-pink {
  order: -1;
  flex-grow: 3;
}

